body {
    background-color: #000033;
    background-image: url("../images/background.png");
    background-size: 10% auto;
    background-attachment: scroll;
    background-repeat: repeat;
}

.shadow {
	display: block;
	left: 0px;
	top: 0px;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 100;
}

.Error {
	background-color: #060345;
    border-bottom: solid 3px #00e600;
    height:10%;
	width:100%;
    
  
    font-family: SF Distant Galaxy Cyrillic;
    font-size: 18px;
	line-height: 140%;
    color: #00e600;
    text-align: center;
}

@font-face {
 	font-family: SF Distant Galaxy Cyrillic;   
    src: url(/font/SF_Distant_Galaxy_Cyrillic.ttf);
}
A {
	color: #00e600;
	text-decoration: none;
}
A:visited {
	color: #00e600;
	text-decoration: none;
}
A:active {
	color: #00e600;
	text-decoration: none;
}

.N0 {
	position: fixed;;
    width: 100%;
    height: 20%;
	top: 0;
	left:0;
	cursor: default;
}

.N1 {
    background-color: #060345;
    border-bottom: solid 3px #00e600;
    width: 100%;
	height:70%;
    
  
    font-family: SF Distant Galaxy Cyrillic;
    font-size: 100px;
	line-height: 140%;
    color: #00e600;
    text-align: center;
}

.login {
	display: none;
	font-family: SF Distant Galaxy Cyrillic;
	font-size: 20px;
	color: #00e600;
	position: fixed;
	top: 5px;
	left: 5px;
}

.vhod {
	display: none;
	height: 20px;
	width: 100px;
	text-align: center;
	font-family: SF Distant Galaxy Cyrillic;
    font-size: 20px;
	color: #00e600;
	position: fixed;
	top: 5;
	right: 0px;
	z-index: 100;
	cursor: pointer;
}
.reg {
	display: none;
	text-align: center;
	font-family: SF Distant Galaxy Cyrillic;
    font-size: 20px;
	color: #00e600;
	position: fixed;
	top: 5px;
	right: 10px;	
	cursor: pointer;
}
.blockvhod {
	display: block;
	position: fixed;
	top: 35%;
	left:30%;
	height:30%;
	width:40%;
	z-index: 200;
}
.blockreg {
	position: fixed;
	top: 30%;
	left: 30%;
	height:30%;
	width:40%;
}

.text {
	border: solid 3px #00e600;
	background:#060345;
	display: block;
	font-family: SF Distant Galaxy Cyrillic;
	width: 60%;
	height: 10%;
    font-size: 20px;
	color: #00e600;
}

.PASSWORD {
	border-top: solid 1px #00e600;
	border-bottom: solid 1px #00e600;
	border-right: solid 3px #00e600;
	border-left: solid 3px #00e600;
	background:#060345;
	display: block;
	font-family: SF Distant Galaxy Cyrillic;
	height:33.33%;
	width:100%;
    font-size: 30px;
	color: #00e600;
	text-align: center;
}

.E-MAIL {
	border-top: solid 3px #00e600;
	border-bottom: solid 1px #00e600;
	border-right: solid 3px #00e600;
	border-left: solid 3px #00e600;
	background:#060345;
	display: block;
	font-family: SF Distant Galaxy Cyrillic;
	height:33.33%;
	width:100%;
    font-size: 30px;
	color: #00e600;
	text-align: center;
}

.vvod {
	border-top: solid 1px #00e600;
	border-bottom: solid 3px #00e600;
	border-right: solid 3px #00e600;
	border-left: solid 3px #00e600;
	background:#060345;
	display: block;
	font-family: SF Distant Galaxy Cyrillic;
	height:33.33%;
	width:98.7%;
	line-height: 280%;
    font-size: 30px;
	color: #00e600;
	text-align: center;
	cursor: pointer;
}

.vvod:hover {
	background-color: #060370;
}

.glavnaya {
	text-align: center;
	font-family: SF Distant Galaxy Cyrillic;
    font-size: 20px;
	color: #00e600;
	position: fixed;
	top: 5px;
	left: 10px;
	z-index: 1;
	cursor: pointer;	
}

@media screen and (min-width:1080px) and (max-width:1259px) {
.N1 {
    font-size: 90px;
}
}
@media screen and (min-width:900px) and (max-width:1079px) {
.N1 {
	font-size: 80px;
	line-height: 180%;
}
}
@media screen and (min-width:720px) and (max-width:899px) {
.login {
	font-size: 16px;
}
.vhod {
	font-size: 16px;
}
.N1 {
	font-size: 60px;
	line-height: 200%;
}
}
@media screen and (min-width:540px) and (max-width:719px) {
.login {
	font-size: 16px;
}
.vhod {
	font-size: 16px;
}
.N1 {
	font-size: 45px;
	line-height: 280%;
}
}
@media screen and (min-width:360px) and (max-width:539px) {
.login {
	font-size: 16px;
}
.vhod {
	font-size: 16px;
}
.N1 {
	font-size: 38px;
	line-height: 350%;
}
@media screen and (min-width:180px) and (max-width:359px) {
.N1 {
    font-size: 30px;
}
}
